<template>
  <div id="app">
    <Header @config="displayConfig" @recherche="displayRecherche" @stats="displayStats"/>
    <OngletConfiguration @updateUse="updateUse" :bookTable="this.livres" :bookUsed="this.livresUtilisePartie"/>
    <OngletRecherche />
    <OngletStatistiques :nbLivresUtilises="this.livresUtilisePartie.length" :pourcentageLivresUtilises="(this.livresUtilisePartie.length / this.livres.length) * 100"/>
  </div>
</template>

<script>
//ajout des composants
import Header from './components/Header.vue'
import OngletConfiguration from './components/OngletConfiguration.vue'
import OngletRecherche from './components/OngletRecherche.vue'
import OngletStatistiques from './components/OngletStatistiques.vue';
//ajout des variables
import { bookTable } from '@/assets/data.min.js'
import { bookUsed } from '@/assets/data.min.js'
import { sortTable } from '@/assets/data.min.js'

// on rentre la valeur des livres dans bookTable
sortTable.forEach(element => {
  if(bookTable.indexOf(element[0]) == -1){
    bookTable.push(element[0]);
  }
});

export default {
  name: 'App',
  components: {
    Header,
    OngletConfiguration,
    OngletRecherche,
    OngletStatistiques
  },
  data: function() {
    return{
    livresUtilisePartie: Array,
    pourcentageLivresUtilises : Number,
    livres: Array,
    }
  },
  created() {
    this.livresUtilisePartie = bookUsed,
    this.livres = bookTable
  },
  methods: {
    calculPourcentageLivresUtilises(){return (this.livresUtilisePartie*100)/this.livres},

    // pour mettre à jour les livres utilisés
    updateUse(table){
      this.livresUtilisePartie = table;
      this.pourcentageLivresUtilises = this.calculPourcentageLivresUtilises();
    },

    //pour afficher un seul onglet
    display(to_disp, not1, not2){
      //onglet à afficher
      var onglet = document.getElementById(to_disp);
      onglet.style = "display: block;";

      //onglets à cacher
      var onglet_no1 = document.getElementById(not1);
      onglet_no1.style = "display: none;";

      var onglet_no2 = document.getElementById(not2);
      onglet_no2.style = "display: none;";
    },
    //affichage de l'onglet configuration
    displayConfig(){
      this.display("onglet_config","onglet_recherche","onglet_statistiques");
    },
    //affichage de l'onglet recherche
    displayRecherche(){
      this.display("onglet_recherche","onglet_statistiques","onglet_config");
    },
    // affichage de l'onglet statistiques
    displayStats(){
      this.display("onglet_statistiques", "onglet_config","onglet_recherche");
    },
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
