<template>
  <div id="ajout_livres" class="row m-5">
    <label class="col-6" >Ajouter un livre à la liste : </label>
    <select class="col-2 offset-1" id="book_toAdd">
      <option
        v-for="livre in listeLivre"
        :key="livre"
        :value="livre"
        >{{ livre }}</option
      >
    </select>
    <button class="btn btn-primary col-2 offset-1" @click="addBook">Ajouter</button>
  </div>
</template>

<script>
//import de la méthode addBook
//import addBook from '@/assets/functions.min.js'
import { bookUsed } from '@/assets/data.min.js'

export default {

  name: 'AjoutLivreUtilise',
    props: {
        listeLivre : Array,
    },
     data: function() {
      return {
      livresUsed : Array
    }
 },
  created() {
    this.livresUsed = bookUsed;
  },
    methods:{
      //on ajoute un livre dans le tableau des livres utilisés
            addBook() {
              //on récupère le titre
              var toAdd = document.getElementById("book_toAdd").value;
              //on vérifie qu'il y a bien un titre
              if (toAdd != "") {
                //si le livre n'est pas dans le tableau : on l'ajoute, sinon on ne fais rien
                  if(! this.isInArray(this.livresUsed,toAdd)){
                    this.livresUsed.push(toAdd);
                    this.livresUsed = this.livresUsed.sort();
                  }
              }
              //on préviens le composant du dessus
              this.$emit('added', this.livresUsed)
            },
            //on vérifie si un livre est dans le tableau pssé en paramètres
            isInArray(array, item){
              for(let element of array){
                if(element == item){
                  return true;
                }
              }
              return false;
            }
    }
}
</script>
