<template>
  <header class="rounded">
    <h1 class="dispaly-1">Gestion des livres</h1>
    <div class="row m-5">
      <button class="btn btn-danger col-2 offset-1" @click="config">Configuration</button>
      <button class="btn btn-danger col-2 offset-2" @click="recherche">Recherche</button>
      <button class="btn btn-danger col-2 offset-2" @click="stats">Stats</button>
    </div>
  </header>
</template>

<script>
export default {
  name: 'Header',
  methods: {
    // quand clic sur configuration, on averti le composant du dessus
    config() {
      this.$emit('config');
    },
    // quand clic sur recherche, on averti le composant du dessus
    recherche() {
      this.$emit('recherche');
    },
    // quand clic sur statistiques, on averti le composant du dessus
    stats() {
      this.$emit('stats');
    }
  }
}
</script>

<style>
header
{
	color:	red;
  padding: 1%;
  margin:0% 1%;
  background-color: rgba(255, 194, 204,0.5);
  border-bottom: solid red;
}
</style>
