<template>
  <div id="liste_livres">
    <h1>Livres : </h1>
    <ul id="livreliste">
      <li v-for="livre in listeLivre" :key="livre" class="border rounded">
        <Livre :titre="livre" />
      </li>
    </ul>
  </div>
</template>

<script>
//On importe la vue d'un livre. Le but de ce composant est de lister tous les livres contenus dans le tableau "listeLivre"
import Livre from './Livre.vue';

export default {

  name: 'ListeLivres',
  components: {
    Livre
  },
  props :
  {
    listeLivre : Array
  }
}
</script>

<style scoped>
  ul {
    list-style: none;
  }
  li {
    text-align: center;
    display: inline-block;
    width: 20%;
    margin: 1%;
    padding:2%;
    padding-left: 0%;
  }
</style>
