<template>
  <div class="livre">
    <h1>{{titre}}</h1>
  </div>
</template>

<script>
// Ceci est le composant permettant de voir un livre

export default {

  name: 'Livre',
  components: {
  },

    props : {
        titre : String
    }
}
</script>

<style>
  .livre{
    width: 30%;
    display: inline-block;
  }
</style>
