<template>
  <div id="onglet_recherche" class="m-5">
    <h1>Recherche</h1>
    <form name="recherche" class="row m-5">
        <label for="livreARechercher" class="col-3">Rechercher un livre :</label>
        <input id="livreARechercher" class="col-4 offset-1" type="text" name="livreARechercher" placeholder="Nom du livre" />
        <input type="button" class="col-3 offset-1 btn btn-primary" name="rechercher" value="Rechercher" @click="appelListeLivres"/>
    </form>
    <ListeLivres :listeLivre="resultat"/>
  </div>
</template>

<script>
// Ce composant va permettre d'afficher l'onglet de recherche de livres. Il retourne un tableau de livres qui va servir au composant "ListeLivre" pour afficher les résultats.
import ListeLivres from "@/components/ListeLivres.vue";
import {rechercheDeLivres} from "@/assets/fonctions.js";
import {bookTable} from "@/assets/data.min.js";

export default {
  name: 'OngletRecherche',
  data :
    function() {
      return { resultat : Array };
    },
  created()
  {
    this.resultat = new Array();
  },
  methods:
    {
      appelListeLivres()
      {
        let aRechercher = document.getElementById("livreARechercher").value;
        this.resultat = rechercheDeLivres(aRechercher, bookTable);
      }
    },
  components:
    {
      ListeLivres
    }
}
</script>

<style scoped>
  #onglet_recherche{
    display: none;
  }
</style>
