<template>
  <div id="onglet_config" class="m-5">
    <h1>Configuration</h1>
    <AjoutLivreUtilise :listeLivre="listeLivre" @added="update"/>
    <RetirerLivreUtilise :livresUsed="livresUsed" @removed="update"/>
    <div id="book_Added">
      <ListeLivres :listeLivre="livreUsed"/>
    </div>
    <div>
      <button class="btn btn-primary" @click="saveUsedList">Sauvegarder</button>
    </div>
  </div>
</template>

<script>
// ajout des composants
import ListeLivres from './ListeLivres.vue'
import AjoutLivreUtilise from './AjoutLivreUtilise.vue'
import RetirerLivreUtilise from './RetirerLivreUtilise.vue'

export default {
  name: 'OngletConfiguration',
  components: {
    ListeLivres,
    AjoutLivreUtilise,
    RetirerLivreUtilise
  },
  props: {
    bookTable: Array,
    bookUsed: Array
  },
  data: function() {
    return {
      livresUsed : Array,
      livresListe : Array,
    }
 },
  created() {
    this.livreUsed = this.bookUsed;
    this.listeLivre = this.bookTable;
  },
  methods: {
    //mis a jour des livres utilisés pour la partie
    update (table) {
      this.livresUsed = table;
      this.$forceUpdate();
    },
    //mise à jour de la liste dans le composant parent : pour sauvegarder tout en continuant la navigation
    saveUsedList() {
      this.$emit('updateUse', this.livresUsed)
    }
  }
}
</script>
