<template>
  <div id="onglet_statistiques" class="m-5">
    <h1>Statistiques</h1>
    <div class="m-5">
      <p>Nombre de livres dans la base de donnée : {{nbLivres}}</p>
      <p>Nombre de livres utilisés : {{nbLivresUtilises}}</p>
      <p>Pourcentage de livres utilisés : {{pourcentageLivresUtilises}}</p>
    </div>
  </div>
</template>

<script>
// Cet onglet fait plusieurs statistiques quand à l'utilisation des livres. Il affiche le nombre total de livres dans la base de données, le nombre de livres utilisés, et le pourcentage de livres utilisés.
import {bookTable} from '@/assets/data.min.js';

export default {
  name: 'OngletStatistiques',
  data:
    function()
    {
      return {
        nbLivres : bookTable.length
      };
    },
  props:
  {
    nbLivresUtilises : Number,
    pourcentageLivresUtilises : Number
  }
}
</script>

<style scoped>
  #onglet_statistiques{
    display: none;
  }
</style>
