<template>
  <div id="supprimer_livre" class="row m-5">
    <label class="col-6" >Retirer un livre de la liste : </label>
    <select class="col-2 offset-1" id="book_toDel">
      <option
        v-for="livre in this.livresUsed"
        :key="livre"
        :value="livre"
        >{{ livre }}</option
      >
    </select>
    <button class="btn btn-danger col-2 offset-1" @click="delBook">Supprimer</button>
  </div>
</template>

<script>

export default {

  name: 'RetirerLivreUtilise',
    props: {
        livresUsed : Array,
    },
    methods:{
      //on ajoute un livre dans le tableau des livres utilisés
            delBook() {
              //on récupère le titre
              var toDel = document.getElementById("book_toDel").value;
              //on vérifie qu'il y a bien un titre
              if (toDel != "") {
                //si le livre est pas dans le tableau : on le supprime, sinon on ne fais rien
                  if(this.isInArray(this.livresUsed,toDel)){
                    this.livresUsed.pop(toDel);
                    this.livresUsed = this.livresUsed.sort();
                  }
              }
              //on préviens le composant du dessus
              this.$emit('removed', this.livresUsed)
            },
            //on vérifie si un livre est dans le tableau passé en paramètres
            isInArray(array, item){
              for(let element of array){
                if(element == item){
                  return true;
                }
              }
              return false;
            }
    }
}
</script>
